@charset "utf-8";

header, .nav-global, .slider, .slider ul li img, .contents, footer {
	width: 100%;
}
nav ul {
	margin: 0;
}
.slider {
	height: 315px;
	margin-bottom: 15px;
	padding-top: 10px;
}
main {
	width: auto;
	float: none;
}
.nav-global ul li {
	margin: 0;
	width: 100%;
	border: 1px solid #f2f2f2;
}
.nav-global ul li a {
	height: auto;
	padding-top: 7px;
	padding-bottom: 7px;
	background-image: none;
	color: #000000;
	text-align: center;
	text-decoration: none;
}
.nav-global ul li a:hover {
	background-color: #36a0e0;
	color: #ffffff;
}
.topics h2 {
	margin-bottom: 0;
}
.topics ol li {
  display: block;
	margin-top: 0;
	padding: 12px 0 12px 0;
	text-indent: 0;
}
.topics ol li time {
	display: block;
	margin-bottom: 10px;
	width: auto;
}
.topics ol li span {
  width: 100%;
}
.sub {
	margin-left: 10px;
	float: none;
}
footer .info-group {
	padding: 8px 0 0 0;
}
