@charset "utf-8";

/* 基本レイアウト ここから↓ */
body {
  line-height: 1.4em;
}

header,
.breadcrumb,
.contents,
footer {
  margin: 0 auto;
  width: 830px;
}

header {
  margin: 0 auto 15px;
}

.nav-global ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-global ul li {
  width: 200px;
}

.nav-global ul li a {
  border: solid 4px #F5F5F5;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 70px;
  letter-spacing: 2px;
  line-height: 62px;
  text-align: center;
  text-decoration: none;
}

.nav-global ul li a:hover {
  background-color: #36A0E0;
  color: #fff;
}

.contents {
  display: flex;
  justify-content: space-between;
}

main {
  width: 570px;
}

.sub {
  width: 220px;
}

.side-nav a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.pagetop {
  display: flex;
  justify-content: flex-end;
}

footer .info-group a {
  color: #fff;
}

main h1 {
  background-image: url(../images/back_h1_bottom.png), url(../images/back_h1_top.png);
  background-position: left bottom, left top;
  background-repeat: no-repeat, no-repeat;
  color: #fff;
  font-size: 180%;
  margin: 0 0 30px;
  padding: 30px 0;
  text-align: center;
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
.topics ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topics ol li {
  border-bottom: 1px dotted #333;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0;
  padding: 0 10px 20px 0;
}

.topics ol li span {
  display: block;
  width: 400px;
}
/* トップページ ここまで↑ */

/* 「当病院について」ページ ここから↓ */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* .h2-group {
  margin: 0 0 20px;
}

.h2-group:last-child {
  margin: 0;
} */

.h2-group:not(:last-child) {
  margin: 0 0 20px;
}
/* 「当病院について」ページ ここまで↑ */

/* 「診療科のご案内」ページ ここから↓ */
.service-table caption span {
  font-weight: bold;
}
/* 「診療科のご案内」ページ ここまで↑ */

/* 「施設紹介」ページ ここから↓ */

/* 「施設紹介」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
