@charset "utf-8";

/* 基本レイアウト ここから↓ */
body {
  line-height: 1.4em;
}

header,
.breadcrumb,
.contents,
footer {
  margin: 0 auto;
  width: 830px;
}

.nav-global ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-global ul li {
  width: 200px;
}

.nav-global ul li a {
  display: block;
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「当病院について」ページ ここから↓ */

/* 「当病院について」ページ ここまで↑ */

/* 「診療科のご案内」ページ ここから↓ */

/* 「診療科のご案内」ページ ここまで↑ */

/* 「施設紹介」ページ ここから↓ */

/* 「施設紹介」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
