@charset "utf-8";

/* 基本レイアウト ここから↓ */
body {
  line-height: 1.4em;
}
header,
.global-menu,
.breadcrumb,
.contents,
footer {
  margin: 0 auto;
  width: 830px;
}
.global-menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
.global-menu ul li {
  width: 200px;
}
.global-menu ul li a {
  border: solid 5px #efefef;
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 70px;
  letter-spacing: 4px;
  line-height: 65px;
  text-align: center;
  text-decoration: none;
}
.global-menu ul li a:hover {
  background: #3198d6;
  color: #fff;
}
.breadcrumb ol li:not(:last-child)::after {
  content: ">";
}
.contents {
  display: flex;
  justify-content: space-between;
}
main {
  width: 570px;
}
.sub {
  width: 220px;
}
main h1 {
  background-image: url(../images/back_h1_bottom.png), url(../images/back_h1_top.png);
  background-position: left bottom, left top;
  background-repeat: no-repeat, no-repeat;
  color: #fff;
  font-size: 180%;
  margin: 0 0 30px;
  padding: 30px 0;
  text-align: center;
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
.topics ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.topics ul li {
  border-bottom: 1px dotted #333;
  margin-top: 20px;
  padding: 0 10px 20px 160px;
  text-indent: -160px;
}
/* トップページ ここまで↑ */

/* 「当病院について」ページ ここから↓ */
.h2_group:not(:last-child) {
  margin-bottom: 20px;
}
/* 「当病院について」ページ ここまで↑ */

/* 「診療科のご案内」ページ ここから↓ */
.table-title {
  font-weight: bold;
}
table thead tr {
  background-color: #f3bf31;
  color: #333;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* 「診療科のご案内」ページ ここまで↑ */

/* 「施設紹介」ページ ここから↓ */
.facility-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.facility-list li {
  margin: 0 0 20px;
  width: 178px;
}
.facility-list figure {
  margin: 0;
}
/* 「施設紹介」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */
input[type=text],
input[type=tel],
textarea {
  border: solid 1px #666;
}
/* 「お問い合わせ」ページ ここまで↑ */
