header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

header h1 {
  width: 90px;
}

.global-nav {
  box-sizing: border-box;
  padding-left: 80px;
  width: 670px;
}

.side-parts {
  width: 240px;
}

.global-nav ul {
  display: flex;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-nav ul li {
  margin-right: 30px;
}

.global-nav ul li:last-child {
  margin-right: 0;
}

.side-parts-upper {
  display: flex;
}

.side-parts-upper nav:nth-child(1)::before {
  content: url(./images/home/icon-login.svg);
}

.side-parts-upper nav:nth-child(2)::before {
  content: url(./images/home/icon-favorite.svg);
}

.side-parts-upper nav:nth-child(3)::before {
  content: url(./images/home/icon-cart.svg);
}

a {
  text-decoration: none;
}

a:link {
  color: #333;
}

a:hover {
  text-decoration: underline;
}