/* Start Reset CSS */
body, ul, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* End Reset CSS */

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

header h1 {
  width: 90px;
}

.global-nav {
  box-sizing: border-box;
  padding-left: 80px;
  width: 670px;
}

.side-parts {
  width: 240px;
}

.global-nav ul {
  display: flex;
  font-size: 1.4rem;
}

.global-nav ul li {
  margin-right: 30px;
}

.global-nav ul li:last-child {
  margin-right: 0;
}

.category {
  position: relative;
}

.sub-category {
  display: none;
  position: absolute;
  width: 120px;
}

.sub-category ul {
  display: block;
}

.side-parts-upper {
  display: flex;
}

.side-parts-upper nav:nth-child(1)::before {
  content: url(./images/home/icon-login.svg);
}

.side-parts-upper nav:nth-child(2)::before {
  content: url(./images/home/icon-favorite.svg);
}

.side-parts-upper nav:nth-child(3)::before {
  content: url(./images/home/icon-cart.svg);
}

a:link {
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.l-basic {
  border-bottom: solid 1px #eee;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 0;
  width: 1000px;
}

.l-basic h2 {
  font-size: 1.8rem;
  margin: 0 0 30px;
  text-align: center;
}

.l-basic h2 span {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
}

.bx-wrapper {
  box-shadow: none;
}

.l-news {
  border: solid 1px #eee;
  padding: 30px;
}

.l-news li {
  margin-bottom: 20px;
}

.l-news li:last-child {
  margin-bottom: 0;
}

.l-news time {
  display: inline-block;
  margin-right: 50px;
}

.new-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-item li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 220px;
}

.new-item li figcaption {
  font-size: 1.4rem;
}

.new-item li span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.new-item li span::before {
  content: "￥";
}

.pickup-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pickup-item li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 180px;
}

.pickup-item li figcaption {
  font-size: 1.4rem;
}

.pickup-item li span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.pickup-item li span::before {
  content: "￥";
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ranking-item li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 180px;
}

.ranking-item li figure {
  position: relative;
}

.ranking-item li figure .ranking-num {
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  height: 26px;
  left: 10px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 26px;
}

.ranking-item li:nth-child(1) figure .ranking-num {
  background-color: #eccc00;
}

.ranking-item li:nth-child(2) figure .ranking-num {
  background-color: #867071;
}

.ranking-item li:nth-child(3) figure .ranking-num {
  background-color: #97680b;
}

.ranking-item li:nth-child(4) figure .ranking-num,
.ranking-item li:nth-child(5) figure .ranking-num {
  background-color: #575757;
}

.ranking-item li figcaption {
  font-size: 1.4rem;
}

.ranking-item li .price {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.ranking-item li .price::before {
  content: "￥";
}

.l-view-all {
  border: solid 1px #333;
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 260px;
}

.l-view-all a {
  background-color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
  transition: all .3s ease 0s;
}

.l-view-all a:hover {
  background-color: #443c3a;
  color: #fff;
  text-decoration: none;
}

.l-view-all a::after {
  content: ">";
  float: right;
}

.l-banner ul {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #726151;
  color: #fff;
  font-size: 1.4rem;
  padding: 30px 0;
}

.l-footer {
  margin: 0 auto;
  width: 1000px;
}

.l-footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.l-footer-title {
  border-left: solid 6px #fff;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 24px;
  padding-left: 6px;
}

.l-footer-address {
  background-color: #908070;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.l-footer-address div:first-child {
  font-size: 1.2rem;
  padding: 20px;
  width: 400px;
}

.l-footer-address strong {
  display: block;
  font-size: 2rem;
  letter-spacing: .2rem;
  margin-bottom: 14px;
}

.l-footer-address address {
  font-style: normal;
}

.l-footer-address a {
  color: #fff;
}

.view-map a {
  border: solid 1px #fff;
  display: block;
  font-size: 1.6rem;
  height: 40px;
  line-height: 40px;
  margin: 40px auto 0;
  text-align: center;
  width: 280px;
}

.copyright {
  text-align: center;
}

.breadcrumb {
  display: block;
  margin: 0 auto;
  width: 1000px;
}

.breadcrumb ol {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb ol li:not(:last-child)::after {
  content: ">";
  margin: 0 8px;
}

.l-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  width: 1000px;
}

.l-sidenavi {
  width: 200px;
}

.l-wrapper main {
  width: 770px;
}

.l-sidenavi-brand {
  margin-bottom: 30px;
}

.l-sidenavi-brand strong {
  border-bottom: solid 1px #eee;
  display: block;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.l-sidenavi-brand ul {
  font-size: 1.4rem;
  list-style: none;
  padding-left: 0;
}

.l-sidenavi-brand li {
  border-bottom: solid 1px #eee;
  font-size: 1.2rem;
  padding: 20px 0;
}

.l-sidenavi-category {
  margin-bottom: 10px;
}

.l-sidenavi-category strong {
  border-bottom: solid 1px #eee;
  display: block;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.l-sidenavi-category ul {
  font-size: 1.4rem;
  list-style: none;
  padding-left: 0;
}

.l-sidenavi-category li {
  border-bottom: solid 1px #eee;
  font-size: 1.2rem;
  padding: 20px 0;
}

.l-sidenavi-category li::before {
  content: "・";
}

.l-sidenavi-category li::after {
  content: ">";
  float: right;
}

.l-sidenavi-banner {
  margin-bottom: 20px;
}

.l-category-main-view {
  margin: 0 0 30px;
}

.l-category h1 {
  font-size: 1.8rem;
  margin: 0 0 20px;
}

.l-category-description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin: 0 0 60px;
}

.l-category-product-count {
  display: block;
  font-size: 1.4rem;
  margin: 0 0 30px;
}

.l-category-product-list {
  border-bottom: solid 1px #eee;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.l-category-product-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 25px 30px 0; 
  width: 240px;
}

.l-category-product-list li:nth-child(3n) {
  margin-right: 0;
}

.l-category-product-list figure {
  margin-bottom: 10px;
}

.l-category-product-list figcaption {
  font-size: 1.4rem;
}

.l-category-product-list span {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.l-category-product-list span::before {
  content: "￥";
}

.l-category-footer-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.l-category-footer-nav .l-category-product-count {
  margin: 0;
}

.l-category-pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.l-category-pagination a {
  background: #f1f1f1;
  display: block;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  text-align: center;
  width: 30px;
}

.l-category-pagination li:last-child a {
  margin-right: 0;
}

.l-category-pagination a.active {
  background: #5f5f5f;
  color: #fff;
}

.l-category-pagination a:hover {
  background: #5f5f5f;
  color: #fff;
  text-decoration: none;
}






