/* Start Reset CSS */
ul, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* End Reset CSS */

html {
  font-size: 62.5%;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

header h1 {
  width: 90px;
}

.global-nav {
  box-sizing: border-box;
  padding-left: 80px;
  width: 670px;
}

.side-parts {
  width: 240px;
}

.global-nav ul {
  display: flex;
  font-size: 1.4rem;
}

.global-nav ul li {
  margin-right: 30px;
}

.global-nav ul li:last-child {
  margin-right: 0;
}

.category {
  position: relative;
}

.sub-category {
  display: none;
  position: absolute;
  width: 120px;
}

.sub-category ul {
  display: block;
}

.side-parts-upper {
  display: flex;
}

.side-parts-upper nav:nth-child(1)::before {
  content: url(./images/home/icon-login.svg);
}

.side-parts-upper nav:nth-child(2)::before {
  content: url(./images/home/icon-favorite.svg);
}

.side-parts-upper nav:nth-child(3)::before {
  content: url(./images/home/icon-cart.svg);
}

a:link {
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.l-basic {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1000px;
}

.l-basic h2 {
  font-size: 1.8rem;
  text-align: center;
}

.l-basic h2 span {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
}

.bx-wrapper {
  box-shadow: none;
}

.l-news {
  border: solid 1px #eee;
  padding: 30px;
}

.l-news li {
  margin-bottom: 20px;
}

.l-news li:last-child {
  margin-bottom: 0;
}

.l-news time {
  display: inline-block;
  margin-right: 50px;
}

.new-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.new-item li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 220px;
}

.new-item li figcaption {
  font-size: 1.4rem;
}

.new-item li span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
}

.new-item li span::before {
  content: "￥";
}

.l-view-all {
  border: solid 1px #333;
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 260px;
}

.l-view-all a {
  background-color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-align: center;
  transition: all .3s ease 0s;
}

.l-view-all a:hover {
  background-color: #443c3a;
  color: #fff;
  text-decoration: none;
}

.l-view-all a::after {
  content: ">";
  float: right;
}