@charset "utf-8";

/* 基本レイアウト ここから↓ */
body {
  background: url(../images/bg.jpg) repeat-x center top;
  color: #666666;
}

header,
nav,
#path,
#contents,
footer {
  margin: 0 auto;
  width: 860px;
}

header h1 {
  margin: 0 0 26px;
  padding: 18px 0 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 0;
}

nav ul li {
  float: left;
  width: 215px;
}

nav ul li a {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 60px 0 0;
}

nav ul li#nav_about a {
  background: url(../images/nav1.png);
}

nav ul li#nav_guide a {
  background-image: url(../images/nav2.png);
}

nav ul li#nav_animals a {
  background-image: url(../images/nav3.png);
}

nav ul li#nav_contact a {
  background-image: url(../images/nav4.png);
}

#main {
  background-color: #fff;
  float: left;
  padding: 20px;
  width: 550px;
}

#sub {
  float: right;
  width: 240px;
}

footer {
  padding: 10px 0 0;
}

#main h1 {
  background-image: url(../images/bg_h1_left.png), url(../images/bg_h1_bottom.gif);
  background-position: right top, left bottom;
  background-repeat: no-repeat, repeat-x;
  font-size: 180%;
  margin: 0 0 30px;
  padding: 0 40px 20px 10px;
}

#about #nav_about a,
#guide #nav_guide a,
#animals #nav_animals a,
#contact #nav_contact a,
nav ul li a:hover {
  background-position: 0 -60px;
}

/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */

/* トップページ ここまで↑ */

/* 「動物園について」ページ ここから↓ */

/* 「動物園について」ページ ここまで↑ */

/* 「ガイドのご案内」ページ ここから↓ */

/* 「ガイドのご案内」ページ ここまで↑ */

/* 「人気の動物たち」ページ ここから↓ */

/* 「人気の動物たち」ページ ここまで↑ */

/* 「お問い合わせ」ページ ここから↓ */

/* 「お問い合わせ」ページ ここまで↑ */
