*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body, a {
  color: #333;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
}

header,
.l-wrapper,
footer {
  margin: 0 auto;
  width: 840px;
}

header {
  margin: 0 auto 20px;
  padding: 30px 0 0;
}

.logo {
  margin: 0 0 20px;
  text-align: center;
}

.nav-global ul {
  box-shadow: 0 4px 10px 0 #ddd;
  display: flex;
}

.nav-global ul li {
  background: -moz-linear-gradient(top, #fff, #ccc);
  background: -webkit-linear-gradient(top, #fff, #ccc);
  background: linear-gradient(to bottom, #fff, #ccc);
  border: solid 1px #d7d8d9;
  line-height: 60px;
  height: 60px;
  text-align: center;
  width: 25%;
}

.nav-global ul li:not(:last-child) {
  border-right: none;
}

.nav-global ul li:hover {
  opacity: .8;
}

.nav-global ul li a {
  display: block;
  text-decoration: none;
}

.breadcrumb {
  margin: 0 0 30px;
}

.breadcrumb ol {
  display: flex;
}

.breadcrumb ol li:not(:last-child)::after {
  content: ">";
  margin: 0 10px;
}

.l-contents-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px;
}

main {
  width: 610px;
}

main h1 {
  border: inset 8px #8d8e8f;
  font-size: 2.4rem;
  padding: 16px 0;
  text-align: center;
}

.l-side-nav {
  width: 200px;
}

.side-banner:not(:last-child) {
  margin: 0 0 30px;
}

.side-banner a {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.side-banner a:hover {
  opacity: .8;
  text-decoration: underline;
}

.side-banner a img:not(:last-child) {
  margin: 0 0 10px;
}

.pagetop {
  margin: 0 0 20px;
  text-align: right;
}

footer {
  background: -moz-linear-gradient(top, #fff, #ebedee);
  background: -webkit-linear-gradient(top, #fff, #ebedee);
  background: linear-gradient(to bottom, #fff, #ebedee);
  background: #dedede;
  border: solid 1px #f1f2f4;
  box-shadow: 0 0 10px 2px #fff inset;
  font-size: 1.4rem;
  padding: 20px 0 10px;
  text-align: center;
}

.footer-address {
  font-style: normal;
  margin: 0 0 6px;
}

.copyright {
  font-size: 1.4rem;
}

main h2 {
  background: url(../images/h2.gif) no-repeat left center;
  font-size: 2.2rem;
  margin: 0 0 30px;
  padding: 0 0 0 20px;
}

.topics-list li {
  border-bottom: dotted 1px #aeafb0;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0 0 26px;
}

.topics-list li:not(:last-child) {
  margin: 0 0 24px;
}

.topics-list li time {
  display: block;
  font-weight: bold;
  width: 130px;
}

.topics-list li span {
  display: block;
  width: 460px;
}